.side-container {
  width: 256px;
  height: 1176px;
}

.book-shelve-heading {
  margin-left: 32px;
  margin-top: 32px;
  border-radius: nullpx;
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #334155;
}

.unordered-list {
  padding-left: 0px;
}

.rating-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
}

.link {
  text-decoration: none;
}

.list {
  margin-left: 32px;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
  list-style-type: none;
}

.divide-container {
  display: flex;
}

.all-books-heading {
  height: 22px;
  width: 250px;
  left: 438px;
  top: 144px;
  border-radius: nullpx;
  font-family: 'roboto';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
}

@media screen and (max-width: 786px) {
  .all-books-heading {
    display: none;
  }
}

.middle-container {
  width: 1002px;
  height: 1150px;
}

@media screen and (max-width: 767px) {
  .middle-container {
    width: 367px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .divide-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .unordered-list {
    display: flex;
    width: 367px;
    flex-wrap: wrap;
  }

  .side-container {
    width: 367px;
    height: 200px;
    flex-wrap: wrap;
  }
}

.search {
  height: 36.000999450683594px;
  width: 264px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 6px 16px 6px 16px;
  border: 1px solid #cbd5e1;
  border-right: none;
  outline: none;
}

.search-button {
  height: 36.000999450683594px;
  width: 35px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #cbd5e1;
  border-left: none;
  cursor: pointer;
  outline: none;
}

.list-button {
  border: none;
  margin-top: 10px;
  background-color: transparent;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 15px;
  margin-left: 0px;
  padding: 0px;
  align-items: center;
  color: rgb(69, 74, 75);
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 767px) {
  .list-button {
    font-weight: 300px;
    align-items: flex-start;
    border: 1px solid #0284c7;
    border-radius: 5px;
    width: 130px;
    padding: 10px;
  }
}

.active-item {
  border: none;
  margin-top: 10px;
  background-color: transparent;
  font-family: 'roboto';
  font-weight: 700;
  font-size: 15px;
  margin-left: 0px;
  padding: 0px;
  align-items: center;
  color: #0284c7;
  cursor: pointer;
  outline: none;
}

.star {
  color: #fbbf24;
  margin-right: 5px;
}

.shelve-list-container {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1000px;
}

.shelve-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
  margin-right: 40px;
}

.title-cont {
  height: 200px;
  margin-top: 5px;
}

.shelve-cover-pic {
  height: 160px;
  width: 135px;
  left: 438px;
  top: 197px;
  border-radius: 8px;
  margin-top: 15px;
}

.shelve-title {
  width: 146px;
  left: 591px;
  top: 197px;
  border-radius: nullpx;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #334155;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .shelve-list-container {
    padding-left: 33px;
  }
}

.shelf-books-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.shelve-author {
  border-radius: nullpx;
  margin-left: 20px;
  line-height: 16px;
  font-family: 'roboto';
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
}

.shelve-rating {
  left: 591px;
  top: 277px;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 16px;
}

.status {
  width: 150px;
  left: 591px;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  margin-left: 20px;
}

.status-type {
  color: #0284c7;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }
}

.no-search-results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-search-paragraph {
  font-size: 20px;
  color: #475569;
  font-weight: 500;
  font-family: 'roboto';
}
