.home-container {
  height: 1024px;
  width: 1440px;
}

@media screen and (max-width: 767px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 360px;
    height: 645px;
  }
}

.home-heading {
  left: 100px;
  top: 137px;
  font-family: 'roboto';
  font-size: 35px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
  color: #1e293b;
  margin-top: 48px;
  margin-left: 100px;
  font-family: 'roboto';
}

.home-paragraph {
  left: 100px;
  top: 213px;
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
  margin-top: 10px;
  margin-left: 100px;
  font-family: 'roboto';
}

@media screen and (max-width: 786px) {
  .home-paragraph {
    font-size: 15px;
    margin-left: 20px;
    width: 250px;
  }

  .home-heading {
    font-size: 20px;
    margin-left: 20px;
  }
}

.top-rated-books-container {
  height: 424px;
  width: 1240px;
  margin-left: 100px;
  margin-top: 32px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px #60617029;

  box-shadow: 0px 0px 1px 0px #28293d14;
}

.top-rated-heading {
  margin-left: 71px;
  margin-top: 36px;
  margin-right: 799px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #1e293b;
  font-family: 'roboto';
}

.trending-list-items-container {
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.find-button {
  height: 36px;
  width: 104px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  background: #0284c7;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
  border: none;
  color: #e4e7eb;
  font-family: 'roboto';
  margin-right: 71px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer-image {
  height: 21px;
  width: 18px;
  color: #64748b;
  margin-right: 24px;
}

.contact-us {
  width: 89px;
  height: auto;
  color: #64748b;
  font-family: 'roboto';
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.top-rated-books {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.try-button {
  height: 32px;
  width: 75px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  background-color: #0284c7;
  color: #ffffff;
  font-family: 'roboto';
  border: none;
  cursor: pointer;
  outline: none;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.slick-prev:before,
.slick-next:before {
  color: #1e293b;
}

@media screen and (max-width: 767px) {
  .top-rated-books-container {
    height: 500px;
    width: 360px;
    margin-left: 20px;
    margin-top: 32px;
  }

  .top-rated-heading {
    margin-top: 20px;
    margin-right: 20px;
    font-size: 20px;
    align-items: left;
    margin-left: 0px;
  }

  .top-rated-books {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
