.home-container {
  height: 1024px;
  width: 1440px;
}

.home-heading {
  height: 64px;
  width: 601px;
  left: 100px;
  top: 137px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
  color: #1e293b;
  margin-top: 48px;
  margin-left: 100px;
  font-family: 'roboto';
}

.home-paragraph {
  height: 64px;
  width: 998px;
  left: 100px;
  top: 213px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #475569;
  margin-top: 12px;
  margin-left: 100px;
  font-family: 'roboto';
}

.top-rated-books-container {
  height: 424px;
  width: 1240px;
  margin-left: 100px;
  margin-top: 32px;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0px #60617029;

  box-shadow: 0px 0px 1px 0px #28293d14;
}

.top-rated-heading {
  height: 32px;
  width: 195px;
  margin-left: 71px;
  margin-top: 36px;
  margin-right: 799px;
  border-radius: nullpx;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #1e293b;
  font-family: 'roboto';
}

.link {
  height: 36px;
  width: 104px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  background: #0284c7;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
  border: none;
  color: #e4e7eb;
  font-family: 'roboto';
  margin-right: 71px;
}

.top-rated-books {
  display: flex;
  align-items: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.footer-image {
  height: 21px;
  width: 18px;
  color: #64748b;
  margin-right: 24px;
}

.contact-us {
  width: 89px;
  height: auto;
  color: #64748b;
  font-family: 'roboto';
  font-weight: 500;
}

.link {
  text-decoration: none;
}

.try-button {
  height: 32px;
  width: 75px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  background-color: #0284c7;
  color: #ffffff;
  font-family: 'roboto';
  border: none;
  cursor: pointer;
  outline: none;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
